body {
  margin:0;
}

.draggable {
  position: absolute;
  width: 150px;
  height: 10%;
  overflow: hidden;
 }
.draggable img {
   width: 100%;
}

#formFooter {
  height:40px;
  background:black;
  color:white;
}
